td {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
}

table{
    background-color: blue;
}

#board{
    border: 1px solid black;
    width: 200px;
    height: 100px;
}

#board2{
    border: 1px solid black;
    width: 250px;
    height: 100px;
}

.coin{
    background-color: red;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.coin2{
    background-color: yellow;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

h3{
    text-align: right;
}